header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
}
.logo-wrap img {
	width:800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.instagram-wrap img {
	width:20px
}
/* 네비게이션 바에 목록 구성하기s */
nav ul {
    width: 100%;
    /* background-color: rgba(10, 42, 39, 0.983); */
    list-style-type: none;
    margin: 0;
    padding: 0;
		  text-align: center;
}
/* 메뉴들이 나란히 나타날 수 있게 해주는 기능 */
nav ul li {
    display: inline-block;
}

.menu{
	color: white;
	 padding: 10px;
	 font-size: 16px;
	 cursor: pointer;
}
.menu a {
	color: #0c2d45;
padding: 0px 35px;
text-decoration: none;
display: block;
}

.menu:hover:not(.home){
    background-color: #f6f6e9;
    color: white;
}

.wrap {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
}
/* 여기부터 본문 내용 */
table {
	border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
    text-align:center;
}

th {
	text-align: center;
	background: #0e5956;
	color: #E8F5FF;
	padding: 5px 10px;
	border: 1px solid #0e5956;
}

td {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #f1f1f1;;
	display:none" 
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

button {
	text-align: center;
	background: #00a474;
	color: #fff;
	margin: 0 auto;
	padding: 5px;
	font-size: 15px;
	line-height: 2em;
	height: 2eml
}