.wrap {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: center;
	background: #50C2FF;
	color: #E8F5FF;
	padding: 5px 10px;
	border: 1px solid #52478B;
}

td {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #f1f1f1;
}

button {
	text-align: center;
	background: #50C2FF;
	color: #fff;
	margin: 0 auto;
	padding: 5px;
	font-size: 15px;
	line-height: 2em;
	height: 2eml
}